<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6f9d94">  <td>22/02/08 15:10:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShashaTest.ChangeLanguage()[pri:0, instance:shashaAppium.shashaFramework.ShashaTest@ea6147e]">ChangeLanguage</td> 
  <td>main@1670546046</td>   <td></td> </tr>
<tr bgcolor="6f9d94">  <td>22/02/08 15:10:49</td>   <td>-5060</td> <td>&nbsp;</td><td title="&gt;&gt;ShashaTest.KillAllNodes()[pri:0, instance:shashaAppium.shashaFramework.ShashaTest@ea6147e]">&gt;&gt;KillAllNodes</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1670546046</td>   <td></td> </tr>
</table>
