<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="897b9a">  <td>22/02/07 15:27:41</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ShashaTest.KillAllNodes()[pri:0, instance:shashaAppium.shashaFramework.ShashaTest@2b48a640]">&gt;&gt;KillAllNodes</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@224100622</td>   <td></td> </tr>
<tr bgcolor="897b9a">  <td>22/02/07 15:27:46</td>   <td>5065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShashaTest.GetSeries()[pri:0, instance:shashaAppium.shashaFramework.ShashaTest@2b48a640]">GetSeries</td> 
  <td>main@224100622</td>   <td></td> </tr>
</table>
